
Solution/Redmine.Tests/bin/Debug/nunit.framework.xml
Solution/Redmine.Tests/bin/Debug/Rhino.Mocks.xml
Solution/Redmine.Tests/obj/Debug/Redmine.Tests.csproj.CopyComplete
Solution/Redmine.Tests/obj/Debug/Redmine.Tests.csproj.FileListAbsolute.txt
Solution/Redmine/obj/Debug/Redmine.csproj.FileListAbsolute.txt
Solution/RedmineTaskListPackage/obj/Debug/VSPackage.resources
Solution/RedmineTaskListPackage/obj/Debug/VSCT.write.1.tlog
Solution/RedmineTaskListPackage/obj/Debug/VSCT.read.1.tlog
Solution/RedmineTaskListPackage/obj/Debug/View/RedmineIssueView.g.i.cs
Solution/RedmineTaskListPackage/obj/Debug/View/RedmineIssueView.g.cs
Solution/RedmineTaskListPackage/obj/Debug/View/RedmineIssueView.baml
Solution/RedmineTaskListPackage/obj/Debug/resources.json
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskListPackage.Resources.resources
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskListPackage.Forms.ConnectionSettingsDialog.resources
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskListPackage.cto
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskListPackage.csproj.VsixDeployedFileListAbsolute.txt
Solution/RedmineTaskListPackage/bin/Debug/extension.vsixmanifest
Solution/RedmineTaskListPackage/bin/Debug/Package.ico
Solution/RedmineTaskListPackage/bin/Debug/Preview.png
Solution/RedmineTaskListPackage/bin/Debug/RedmineTaskList.pkgdef
Solution/RedmineTaskListPackage/bin/Debug/RedmineTaskList.vsix
Solution/RedmineTaskListPackage/obj/Debug/extension.vsixmanifest
Solution/RedmineTaskListPackage/obj/Debug/files.json
Solution/RedmineTaskListPackage/obj/Debug/GeneratedInternalTypeHelper.g.cs
Solution/RedmineTaskListPackage/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskList.g.resources
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskList.latest.pkgdef
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskList.pkgdef
Solution/RedmineTaskListPackage/obj/Debug/DesignData/RedmineIssue.baml
Solution/RedmineTaskListPackage/obj/Debug/ctoFiles.json
Solution/RedmineTaskListPackage.Tests/obj/Debug/RedmineTaskListPackage.Tests.csproj.FileListAbsolute.txt
Solution/RedmineTaskListPackage.Tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Solution/RedmineTaskListPackage/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
Solution/RedmineTaskListPackage/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskList_MarkupCompile.lref
Solution/RedmineTaskListPackage/obj/Debug/RedmineTaskListPackage.csproj.CopyComplete
/Solution/RedmineTaskListPackage/obj/Debug
/Solution/RedmineTaskListPackage/obj
/Solution/RedmineTaskListPackage.Tests/bin/Debug
/Solution/RedmineTaskListPackage.Tests/obj/Debug
